@require "bootstrap.min.css"

/* variables */
$lightgrey = #999
$linkColor = #555
$grey = #eee
$black = #222
$white = #f7f7f7
$green = #4cae4c
$red = #b92c28
$blue = #2aabd2

@-webkit-keyframes typing
  from { width: 0 }
  to { width:100% }


@-moz-keyframes typing
  from { width: 0 }
  to { width:100% }



@-webkit-keyframes typing2
  0% { width: 0 }
  50% {width: 0}
  100% { width:100% }

@-moz-keyframes typing2
  0% { width: 0 }
  50% {width: 0}
  100% { width:100% }

@-webkit-keyframes typing3
  0% { width: 0 }
  66% {width: 0}
  100% { width:100% }


@-moz-keyframes typing3
  0% { width: 0 }
  66% {width: 0}
  100% { width:100% }


@-webkit-keyframes typing4
  0% { width: 0 }
  75% {width: 0}
  100% { width:100% }


@-moz-keyframes typing4
  0% { width: 0 }
  75% {width: 0}
  100% { width:100% }

html
button
input
select
textarea 
  color: $black
  font-family: 'VT323'

a
a:visited
  color: $linkColor
  text-decoration: none

a:hover
  color: lighten($linkColor,10%)
  
body
  color: $black
  font-size: 1em
  line-height: 1.5
  
header
  background: $grey
  color:$black
  padding: 1em
  
  nav
    float:right
    user-select:none
    
  .nav-item
    float:left
    margin-left:.5em
    
    a.active
      text-decoration:none
    
.content
  padding: 1em

.btn
  margin: 0 0 0 40%

.btn-success
  width: 17%
  font-family: 'VT323'
  font-size: 4em
  padding: 0


.game-title
  font-size: 5em
  margin: 0 0 0 13%
  width: 75%
  text-align: center
  font-family: 'VT323'
  color: white
  padding: 0 0 15% 0

.start-screen
  background-color: black
  padding: 20% 0 20% 0

.story-panel
  padding: 5% 0 0 5%
  background-color: black;

.story-text
  font-size: 1.5em;
  color: white;
  font-family: 'VT323';
  width:100%;
  overflow:hidden;
  white-space:nowrap;
  -webkit-animation: typing 2s steps(30, end)
  -moz-animation: typing 2s step(30, end)

.story-text:nth-child(2)
  width:100%;
  overflow:hidden;
  white-space:nowrap;
  -webkit-animation: typing2 4s steps(30, end)
  -moz-animation: typing2 4s step(30, end)

.story-text:nth-child(3)
  width:100%;
  overflow:hidden;
  white-space:nowrap;
  -webkit-animation: typing3 6s steps(30, end)
  -moz-animation: typing3 6s step(30, end)
.story-text:nth-child(4)
  width:100%;
  overflow:hidden;
  white-space:nowrap;
  -webkit-animation: typing4 8s steps(30, end)
  -moz-animation: typing4 8s step(30, end)


.list-group
  list-style-type: none
  width: 100%
.list-group-item
  margin: 0
  width: 100%
  list-style-type: none

.single-selection-panel
  padding: 10% 10%
  width: 80%

.character-hp
  background-color: $green

.character-courage
  background-color: $blue

.character-name
  font-family: 'VT323'


.player-hp-bar
  position: absolute
  left: 0
  top: 0
  float: left

.player-hp-bar-text
  size: .5em
  font-family: 'VT323'
  position: absolute
  left: 63px
  top: 155px
  float: left
  color: white

.player-courage-bar
  position: absolute
  left: 20px
  top: 20px
  float: left

.player-courage-bar-text
  font-family: 'VT323'
  position: absolute
  left: 68px
  top: 135px
  float: left
  color: white

.player-hp-bar#second-character-player-hp-bar
  left: 197px

.player-hp-bar-text#second-character-player-hp-bar-text
  left:258px

.player-courage-bar#second-character-courage-bar
  left:217px


.player-courage-bar-text#second-character-player-courage-bar-text
  left:265px

.player-hp-bar#third-character-player-hp-bar
  left: 394px

.player-hp-bar-text#third-character-player-hp-bar-text
  left:453px

.player-courage-bar#third-character-courage-bar
  left:414px


.player-courage-bar-text#third-character-player-courage-bar-text
  left:460px

.sprite-panel
  top: 200px
  position: absolute
  float:left

.text-panel
  top: 486px
  position:absolute

.boss-sprite
  top: 20px
  left: 661px
  position:absolute
  float:left

.boss-hp-bar
  left: 660px

.boss-hp-bar-text
  left: 716px
  top: 150px

.story-next-button
  font-family: 'VT323'
  color: white
  font-size: 2em

.story-next-button:visited
  color: white;

.text-panel
  width: 30%
  left: 263px
  margin-top: 5%

.table
  background-image: url('../images/battle_background.png')