@require "bootstrap.min.css"

/* variables */
$lightgrey = #999
$linkColor = #555
$grey = #eee
$black = #3a3a3a
$white = #f7f7f7
$green = #4cae4c
$red = #b92c28
$blue = #2aabd2

@font-face {
  font-family: 'VeniceClassic'
  src: url('../../dist/css/VeniceClassic.ttf') format('truetype')
}


@-webkit-keyframes typing
  from { width: 0 }
  to { width:100% }


@-moz-keyframes typing
  from { width: 0 }
  to { width:100% }



@-webkit-keyframes typing2
  0% { width: 0 }
  50% {width: 0}
  100% { width:100% }

@-moz-keyframes typing2
  0% { width: 0 }
  50% {width: 0}
  100% { width:100% }

@-webkit-keyframes typing3
  0% { width: 0 }
  66% {width: 0}
  100% { width:100% }


@-moz-keyframes typing3
  0% { width: 0 }
  66% {width: 0}
  100% { width:100% }


@-webkit-keyframes typing4
  0% { width: 0 }
  75% {width: 0}
  100% { width:100% }


@-moz-keyframes typing4
  0% { width: 0 }
  75% {width: 0}
  100% { width:100% }

html
  background-color: $black

button
input
select
textarea 
  color: $black
  font-family: 'VT323'
  font-weight: normal
  font-style: normal

a
a:visited
  color: $linkColor
  text-decoration: none

a:hover
  color: lighten($linkColor,10%)
  
body
  color: $black
  font-size: 1em
  line-height: 1.5
  
header
  background: $grey
  color:$black
  padding: 1em
  
  nav
    float:right
    user-select:none
    
  .nav-item
    float:left
    margin-left:.5em
    
    a.active
      text-decoration:none
    
.content
  padding: 1em

.btn
  margin: 0 0 0 40%

#start-button.btn-success
  width: 300px
  font-family: 'VeniceClassic'
  font-weight: normal
  font-style: normal
  font-size: 4em
  padding: 0
  margin: 0 0 0 40%


.game-title
  font-size: 5em
  margin: 0 0 0 13%
  width: 75%
  text-align: center
  font-family: 'VeniceClassic'
  color: white
  padding: 0 0 15% 0

.start-screen
  background-color: black
  padding: 20% 0 20% 0

.story-panel
  padding: 5% 0 0 5%
  background-color: black;

.story-text
  font-size: 1.5em;
  color: white;
  font-family: 'VT323'
  width:100%;
  overflow:hidden;
  white-space:nowrap;
  -webkit-animation: typing 2s steps(30, end)
  -moz-animation: typing 2s step(30, end)

.story-text:nth-child(2)
  width:100%;
  overflow:hidden;
  white-space:nowrap;
  -webkit-animation: typing2 4s steps(30, end)
  -moz-animation: typing2 4s step(30, end)

.story-text:nth-child(3)
  width:100%;
  overflow:hidden;
  white-space:nowrap;
  -webkit-animation: typing3 6s steps(30, end)
  -moz-animation: typing3 6s step(30, end)
.story-text:nth-child(4)
  width:100%;
  overflow:hidden;
  white-space:nowrap;
  -webkit-animation: typing4 8s steps(30, end)
  -moz-animation: typing4 8s step(30, end)


.list-group
  list-style-type: none
  width: 100%
  background-color: white
.list-group-item
  margin: 0
  width: 100%
  list-style-type: none
  background-color: white

.single-selection-panel
  padding: 10px
  width: 273px

.player-selection-panel
  background-color: white
  height: 182px

.selection-divider
  height: 20px

.battle-container
  display: -webkit-box
  display:    -moz-box
  display:         box
  padding: 0

.battle-sides
  -webkit-box-flex: 1
  -moz-box-flex: 1
  box-flex: 1
  list-style: none

.battle
  position: relative
  margin-left: auto
  margin-right: auto
  width: 850px
  box-flex: 0
  max-width: 90%

.panel-body
  background: #3a3a3a;

.selection-screen
  background: $black
  width: 803px
  margin-left: auto
  margin-right: auto

.selection-title
  color: white
  font-family: 'VeniceClassic'
  font-size: 3em
  text-align: center

.select-wisely
  color: white
  font-family: 'VT323'
  font-size: 22px
  text-align: center

.only-three
  color: white
  font-family: 'VT323'
  font-size: 22px
  margin-bottom: 60px
  text-align: center

.character-hp
  background-color: $green
  padding-bottom: 5px
  padding-top: 5px

.character-courage
  background-color: $blue
  padding-bottom: 5px
  padding-top: 5px

.character-name
  font-family: 'VeniceClassic'
  font-weight: normal
  font-style: normal
  margin-left: 5px
  font-size: 18px

.character-profile
  background-color: white
  width: 225px
  margin-left: 9px

.player-hp-bar
  position: absolute
  left: 0
  top: 0
  float: left

.player-hp-bar-text
  size: .5em
  font-family: 'VT323'
  font-weight: normal
  font-style: normal
  position: absolute
  left: 63px
  top: 155px
  float: left
  color: white

.player-courage-bar
  position: absolute
  left: 20px
  top: 20px
  float: left

.player-courage-bar-text
  font-family: 'VT323'
  font-weight: normal
  font-style: normal
  position: absolute
  left: 68px
  top: 135px
  float: left
  color: white

.hp-label
  font-family: 'VT323'
  left: 85px
  top: -3px
  color:white
  position:absolute
  z-index: 2

.courage-label
  font-family: 'VT323'
  top: 18px
  left: 67px
  color: white
  position:absolute
  z-index: 2

.first-character-profile-picture
  position: absolute
  left: 37px
  top: 36px

.second-character-hp-label
  left: 283px

.second-character-courage-label
  left: 265px

.player-hp-bar#second-character-player-hp-bar
  left: 197px

.player-hp-bar-text#second-character-player-hp-bar-text
  left:258px


.player-courage-bar#second-character-courage-bar
  left:217px


.player-courage-bar-text#second-character-player-courage-bar-text
  left:265px

.second-character-profile-picture
  position: absolute
  left: 234px
  top: 36px



.third-character-hp-label
  left: 478px

.third-character-courage-label
  left: 461px

.player-hp-bar#third-character-player-hp-bar
  left: 394px

.player-hp-bar-text#third-character-player-hp-bar-text
  left:453px

.player-courage-bar#third-character-courage-bar
  left:414px


.player-courage-bar-text#third-character-player-courage-bar-text
  left:460px

.third-character-profile-picture
  position: absolute
  top: 36px
  left:429px

.sprite-panel
  top: 210px
  left: 15px
  position: absolute
  float:left

.text-panel
  top: 486px
  position: absolute
  width: 400px
  height: 156px
  background-color: antiquewhite
  left: 181px
  margin-top: 5%

.boss-sprite
  top: 20px
  left: 600px
  position:absolute
  float:left

.boss-hp-bar
  left: 660px

.boss-hp-bar-text
  left: 716px
  top: 150px

.boss-hp-label
  left: 745px
  top: 1px

.boss-profile-picture
  position: absolute
  left: 687px
  top: 25px

.story-next-button
  font-family: 'VeniceClassic'
  font-weight: normal
  font-style: normal
  color: white
  text-decoration: none !important
  font-size: 2em

.story-next-button:hover
  color: darkgoldenrod


.story-next-button:visited
  color: white

.player-class
  color: black
  font-family: 'VeniceClassic'
  font-size: 32px
  margin-left: 34px

.player-summary
  color: black
  font-family: 'VT323'
  font-size: 18px
  margin-left: 34px
  width: 430px

.table
  width: 612px
  left: 72px
  bottom: 328px
  position: relative
  z-index: -1

.player-name-attack-panel
  font-family: 'VeniceClassic'
  font-size: 19px
  text-align: center

.action-panel
  position:relative

.btn-attack
  position: absolute
  left: -153px
  top: 27px
  height: 60px
  width: 188px
  font-size: 2em
  font-family: 'VeniceClassic'

.btn-defend
  position: absolute
  left: 43px
  top: 27px
  height: 60px
  width: 188px
  font-size: 2em
  font-family: 'VeniceClassic'

.btn-meditate
  position: absolute
  left: -153px
  top: 93px
  height: 60px
  width: 188px
  font-size: 2em
  font-family: 'VeniceClassic'

.btn-encourage
  position: absolute
  left: 43px
  top: 93px
  height: 60px
  width: 188px
  font-size: 2em
  font-family: 'VeniceClassic'

.single-attack-box
  float: left
  height: 54px
  width: 196px
  margin: 2px
  font-family: 'VT323'
  font-size: 15px


.battle-text-box-text
  size: 20px
  font-family: 'VT323'
  padding: 10px 10px 5px 10px

.attack-title
  font-size: 19px
  font-family: 'VeniceClassic'

.attack-courage-cost
  font-size: 14px

.select-target-text
  padding: 10px 10px 5px 10px

.back-button
  font-family: 'VeniceClassic'
  font-weight: normal
  font-style: normal
  text-decoration: none !important
  font-size: 2em
  padding-left: 10px

.back-button.highlighted-backbutton
  color: $blue

.highlighted
  background-color: $green

.highlighted-character
  color: $blue

#to-battle
  color: white
  font-size: 2em
  text-align: center
  font-family: 'VT323'
  margin-top: 60px

.sprite-walking
   width: 64px
   height: 64px
   animation: walk-east 1.0s steps(9) infinite

@keyframes walk-east
  from {background-position: 0}
  to {background-position: -576px}


.attacking-character
  z-index: 2
  width: 64px
  height: 64px
  animation: attack-east 1.0s steps(6) infinite

@keyframes attack-east
  from {background-position: 0}
  to {background-position: -384px}


.player-1
  position: relative
  left: 185px
  top: -31px
  z-index: 2

.player-2
  position: relative
  left: 82px
  top: -8px
  z-index: 2

.player-3
  position: relative
  left: 186px
  top: 7px
  z-index: 2


.attack-1
  position: relative
  left: 245px
  top: 79px


.attack-2
  position: relative
  left: 229px
  top: -12px


.attack-3
  position: relative
  left: 245px
  top: -98px



.select-1
  position: relative
  left: 180px
  top: -34px
  z-index: 2

.select-2
  position: relative
  left: 72px
  top: -7px
  z-index: 2

.select-3
  position: relative
  left: 183px
  top: 7px
  z-index: 2


.standing-1
  position: relative
  left: 180px
  top: -34px
  z-index: 2

.standing-2
  position: relative
  left: 72px
  top: -7px
  z-index: 2

.standing-3
  position: relative
  left: 183px
  top: 7px
  z-index: 2


.selected-character
  z-index: 2
  width: 64px
  height: 64px
  animation: wave-east 1.0s steps(7) infinite

@keyframes wave-east
  from {background-position: 0}
  to {background-position: -448px}


.standing-character
  z-index: 2
  width: 64px
  height: 64px
  animation: stand-east 1.0s steps(4) infinite

@keyframes stand-east
  from {background-position: 0}
  to {background-position: -256px}


.dying-character
  z-index: 2
  width: 64px
  height: 64px
  animation: die-east 1.0s steps(4) forwards

.dying-1
  position: relative
  left: 245px
  top: 79px
  z-index: 2

.dying-2
  position: relative
  left: 229px
  top: -12px
  z-index: 2

.dying-3
  position: relative
  left: 245px
  top: 79px
  z-index: 2


@keyframes die-east
  from {background-position: 0}
  to {background-position: -256px}



.reviving-character
  z-index: 2
  width: 64px
  height: 64px
  animation: revive-east 1.0s steps(4) forwards

.reviving-1
  position: relative
  left: 245px
  top: 79px
  z-index: 2


.reviving-2
  position: relative
  left: 229px
  top: -12px
  z-index: 2


.reviving-3
  position: relative
  left: 245px
  top: 79px
  z-index: 2

@keyframes revive-east
  from {background-position: 0}
  to {background-position: -256px}


.hurt-character
  z-index: 2
  width: 64px
  height: 64px

.hurt-1
  position: relative
  left: 245px
  top: 79px
  z-index: 2


.hurt-2
  position: relative
  left: 229px
  top: -12px
  z-index: 2


.hurt-3
  position: relative
  left: 245px
  top: 79px
  z-index: 2


.dead-character
  z-index: 2
  width: 64px
  height: 64px

.dead-1 {
  position: relative
  left: 180px
  top: -34px
  z-index: 2
}

.dead-2 {
  position: relative
  left: 72px
  top: -7px
  z-index: 2
}

.dead-3 {
  position: relative
  left: 188px
  top: 21px
  z-index: 2
}

.hurt-boss
  z-index: 2
  width: 230px
  height: 230px
  position: absolute
  left: -212px
  top: -37px

.attacking-boss
  z-index: 2
  width: 234px
  height: 230px
  position: absolute
  left: -212px
  top: -37px
  animation: boss-attacks-east 1.0s steps(4) infinite

.attacking-boss
  position: absolute
  left: -212px
  top: -37px


@keyframes boss-attacks-east {
  from {background-position: 0}
  to {background-position: -936px}
}

.dead-boss
  z-index: 2
  width: 230px
  height: 230px

.dying-boss
  z-index: 2
  width: 230px
  height: 230px
  position: absolute
  left: -212px
  top: -37px
  animation: boss-dies-east 1.0s steps(3) forwards

@keyframes boss-dies-east {
  from {background-position: 0}
  to {background-position: -706px}
}

.standing-boss
  z-index: 2
  width: 234px
  height: 230px
  position: absolute
  top: 3px
  animation: boss-stand-east 1.0s steps(4) infinite

@keyframes boss-stand-east {
  from {background-position: 0}
  to {background-position: -936px}
}

.game-over-component
  width: 803px
  margin-left: auto
  margin-right: auto

.game-over
  color: white
  font-size: 1.5em
  font-family: 'VT323'

.game-over.highlighted
  background-color: $green


.btn-danger.selection-screen-route
  position: absolute
  left: -212px

.btn-danger.main-screen-route
  position:absolute
  left: 79px





