@require "bootstrap.min.css"

/* variables */
$lightgrey = #999
$linkColor = #555
$grey = #eee
$black = #3a3a3a
$white = #f7f7f7
$green = #4cae4c
$red = #b92c28
$blue = #2aabd2

@font-face {
  font-family: 'VeniceClassic'
  src: url('../../dist/css/VeniceClassic.ttf') format('truetype')
}



html
  background-color: $black

button
input
select
textarea 
  color: $black
  font-family: 'blzee'
  font-weight: normal
  font-style: normal

a
a:visited
  color: $linkColor
  text-decoration: none

a:hover
  color: lighten($linkColor,10%)
  
body
  color: $black
  font-size: 1em
  line-height: 1.5
  
header
  background: $grey
  color:$black
  padding: 1em
  
  nav
    float:right
    user-select:none
    
  .nav-item
    float:left
    margin-left:.5em
    
    a.active
      text-decoration:none
    
.content
  padding: 1em

.btn
  margin: 0 0 0 40%

#start-button.btn-success
  width: 300px
  font-family: 'VeniceClassic'
  font-weight: normal
  font-style: normal
  font-size: 4em
  padding: 0
  margin: 0 0 0 40%


.game-title
  font-size: 82px
  width: 1046px
  text-align: center
  font-family: 'blzee'
  color: #26c526
  position: relative
  top: -369px

.game-title-press-space
  font-size: 66px
  width: 393px
  text-align: center
  font-family: 'VeniceClassic'
  color: #ffffff
  position: relative
  top: -376px
  left: 316px
  animation: game-title-press-pulse 1.2s steps(2) infinite

@-webkit-keyframes game-title-press-pulse {
  from { font-size: 66px;}
  to {font-size: 70px;}
}


.start-screen
  background-image: url("../images/start-screen.jpg")
  background-size: cover
  position: relative
  margin-left: auto
  margin-right: auto
  width: 1089px
  padding: 20% 0 20% 0

.intro-background-filter
  background-image: url("../images/partchment-filter.png")
  background-size:cover
  z-index: -2
  position: absolute
  top: -828px
  width: 1575px
  height: 1034px
  left: -329px
  opacity: 1

.game-over-background
  z-index: 0;
  position: absolute;
  top: 13px;
  width: 1575px;
  height: 554px;
  left: 160px;
  opacity: 1;

.intro-background
  z-index: -2
  position: absolute
  top: -828px
  width: 1575px
  left: -166px
  opacity: 0.45

.background-fade-in
  z-index: -2
  position: absolute
  top: -828px
  width: 1575px
  left: -166px
  opacity: 0
  animation: background-fade-in 4s forwards

@-webkit-keyframes background-fade-in {
  0% { opacity: 0}
  50% { opacity: 0.55}
  100% {opacity: 0.45;}
}

.intro-character-left
  position: absolute;
  top: -903px;
  left: -211px;
  width: 717px;
  z-index: -1;


.intro-character-right
  position: absolute;
  top: -903px;
  left: 713px;
  width: 717px;
  z-index: -1;

.intro-character-middle
  position: absolute
  top: -903px
  left: 270px
  width: 717px
  z-index: -1

.character-being-introduced
  opacity: 0
  animation: character-fade-in 4s forwards

@-webkit-keyframes character-fade-in {
  0% { opacity: 0}
  50% { opacity: 0.95}
  100% {opacity: 0.85;}
}

.introduced-character
  opacity: 0.85


.intro-character-middle#gayathan-1
  top: -886px
  width: 1100px

.intro-character-middle#gayathan-2
  top: -875px
  width: 1664px
  left: -996px

.intro-character-left#gayathan-1
  top: -886px
  left: -161px;
  width: 1100px


.intro-character-right#first
  top: -839px;
  left: 830px;
  width: 636px;

.intro-character-right#second
  top: -839px;
  left: 527px;
  width: 636px;


.story-panel
  background-color: transparent
  position: relative
  margin-left: auto
  margin-right: auto
  width: 850px
  top: 762px
  left: -41px


.story-text
  font-size: 32px
  color: #7d1010
  font-family: 'blzee'
  width:100%
  overflow:hidden
  white-space:nowrap


.story-text#first-line
  width:100%
  overflow:hidden
  white-space:nowrap
  -webkit-animation: typing 2s steps(30, end)
  -moz-animation: typing 2s step(30, end)


.story-text#second-line
  width:100%
  overflow:hidden
  white-space:nowrap
  margin-top: 10px
  -webkit-animation: typing2 4s steps(30, end)
  -moz-animation: typing2 4s step(30, end)

.list-group
  list-style-type: none
  width: 100%
  background-color: transparent

.list-group-item
  margin: 0
  width: 100%
  list-style-type: none
  background-color: white


.player-selection-parchment
  height: 238px
  width: 100%
  position: relative

.player-selection-parchment-image
  background-repeat:no-repeat
  background-size:100%
  z-index: 0
  width: 1097px
  height: 930px
  position: absolute
  top: 127px
  left: -39px

.story-partchment-image
  background-repeat: no-repeat
  background-size: 100%
  width: 2115px
  height: 422px
  position: absolute
  top: -59px
  left: -603px

.story-slide
  position: absolute
  top: 58px
  left: -163px

.single-selection-panel
  padding: 10px
  width: 273px
  height: 210px
  position: relative
  left: 50px

.player-selection-panel
  background-color: transparent
  height: 182px

.selection-divider
  height: 20px

.battle-container
  display: -webkit-box
  display:    -moz-box
  display:         box
  padding: 0

.battle-sides
  -webkit-box-flex: 1
  -moz-box-flex: 1
  box-flex: 1
  list-style: none

.battle
  position: relative
  margin-left: auto
  margin-right: auto
  width: 850px
  box-flex: 0
  max-width: 90%

.battle-parchment-image
  background-repeat:no-repeat
  background-size: 100%
  z-index: -1
  width: 1097px
  height: 1060px
  position: absolute
  top: -20px
  left: -132px

.battle-content
  position: relative
  top: 22px
  left: 15px

.panel-body
  background: #3a3a3a

.selection-screen
  background: $black
  width: 1030px
  margin-left: auto
  margin-right: auto
  position: relative

.selection-title
  color: white
  font-family: 'VeniceClassic'
  font-size: 3em
  text-align: center

.select-wisely
  color: white
  font-family: 'blzee'
  font-size: 22px
  text-align: center

.only-three
  color: white
  font-family: 'blzee'
  font-size: 22px
  margin-bottom: 60px
  text-align: center

.character-hp
  background-color: $green
  padding-bottom: 5px
  padding-top: 5px

.character-courage
  background-color: $blue
  padding-bottom: 5px
  padding-top: 5px

.character-name
  font-family: 'VeniceClassic'
  font-weight: normal
  font-style: normal
  margin-left: 5px
  font-size: 18px

.character-profile
  background-color: transparent
  width: 225px
  margin-left: 9px

.player-hp-bar
  position: absolute
  left: -81px
  top: 30px
  float: left

.player-hp-bar-text
  font-size: 16px
  font-family: 'blzee'
  font-weight: normal
  font-style: normal
  position: absolute
  left: -20px
  top: 187px
  float: left
  color: white

.player-courage-bar
  position: absolute
  left: -61px
  top: 50px
  float: left

.player-courage-bar-text
  font-size: 16px
  font-family: 'blzee'
  font-weight: normal
  font-style: normal
  position: absolute
  left: -10px
  top: 169px
  float: left
  color: white

.hp-label
  font-size: 16px
  font-family: 'blzee'
  left: 6px
  top: 30px
  color:white
  position:absolute
  z-index: 2

.courage-label
  font-size: 15px
  font-family: 'blzee'
  top: 52px
  left: -17px
  color: white
  position:absolute
  z-index: 2

.first-character-profile-picture
  position: absolute
  left: -44px;
  top: 66px;

.second-character-hp-label
  left: 206px

.second-character-courage-label
  left: 185px

.player-hp-bar#second-character-player-hp-bar
  left: 119px

.player-hp-bar-text#second-character-player-hp-bar-text
  left:182px

.player-courage-bar#second-character-courage-bar
  left: 139px


.player-courage-bar-text#second-character-player-courage-bar-text
  left: 187px

.second-character-profile-picture
  position: absolute
  left: 156px
  top: 66px



.third-character-hp-label
  left: 404px

.third-character-courage-label
  left: 384px

.player-hp-bar#third-character-player-hp-bar
  left: 319px

.player-hp-bar-text#third-character-player-hp-bar-text
  left:376px

.player-courage-bar#third-character-courage-bar
  left: 339px


.player-courage-bar-text#third-character-player-courage-bar-text
  left: 386px

.third-character-profile-picture
  position: absolute
  top: 66px
  left: 356px

.sprite-panel
  margin-top: 35%
  left: -33px
  position: absolute
  float:left

.text-panel
  position: absolute
  width: 807px
  height: 156px
  background-color: transparent
  left: 21px
  margin-top: 80%

.button-panel
  margin-top: 83%
  position: absolute
  width: 400px
  height: 156px
  background-color: #faebd7
  left: 225px

.character-name-text
  color:transparent

.boss-name-text
  color:transparent

.golden-frame-pic
  background-repeat:no-repeat
  background-image: url('../images/golden-frame.png')
  background-size:100%
  position: absolute
  height: 238px
  width: 502px
  left: -51px
  top: -50px

.boss-sprite
  top: 20px
  left: 600px
  position:absolute
  float:left

.boss-hp-bar
  left: 711px

.boss-hp-bar-text
  left: 763px
  top: 183px

.boss-hp-label
  left: 793px
  top: 38px

.boss-profile-picture
  position: absolute
  left: 738px
  top: 58px

.story-next-button
  font-family: 'VeniceClassic'
  font-weight: normal
  font-style: normal
  color: #7d1010
  text-decoration: none !important
  font-size: 55px
  position: absolute
  left: 950px
  top: 117px
  z-index: 2
  width: 300px
  animation: story-next-button-show 3.5s steps(1) forwards, story-next-button-pulse 1.2s steps(2) infinite

@-webkit-keyframes story-next-button-show {
  0% { color: transparent}
  66% { color: transparent}
  100% { color: #7d1010}
}

@-webkit-keyframes story-next-button-pulse {
  from { font-size: 55px;}
  to {
    font-size: 58px;
    left: 945px
  }
}

.story-next-button:hover
  color: darkgoldenrod

.story-next-button:visited
  color: white

.hidden-image
  background-color: transparent
  position: absolute
  top: -1px
  left: -1px
  width: 1px
  height:1px
  overflow: hidden

.selection-sprite
  position relative
  left: 70px

.character-selection-text
  width: 430px
  position: relative
  right: 91px

.player-class
  color: black
  font-family: 'VeniceClassic'
  font-size: 32px
  margin-left: 34px

.player-summary
  color: black
  font-family: 'blzee'
  font-size: 18px
  margin-left: 34px
  width: 486px

.table
  width: 612px
  left: 72px
  bottom: 328px
  position: relative
  z-index: -1

.player-name-attack-panel
  font-family: 'VeniceClassic'
  font-size: 19px
  text-align: center

.action-panel
  position:relative

.btn-attack
  position: absolute
  left: -153px
  top: 27px
  height: 60px
  width: 188px
  font-size: 2em
  font-family: 'VeniceClassic'

.btn-defend
  position: absolute
  left: 43px
  top: 27px
  height: 60px
  width: 188px
  font-size: 2em
  font-family: 'VeniceClassic'

.btn-meditate
  position: absolute
  left: -153px
  top: 93px
  height: 60px
  width: 188px
  font-size: 2em
  font-family: 'VeniceClassic'

.btn-encourage
  position: absolute
  left: 43px
  top: 93px
  height: 60px
  width: 188px
  font-size: 2em
  font-family: 'VeniceClassic'

.single-attack-box
  float: left
  height: 54px
  width: 196px
  margin: 2px
  font-family: 'blzee'
  font-size: 15px

.character-damage-text-box-text
  font-size: 35px
  font-family: 'blzee'
  overflow:hidden
  white-space:nowrap
  color: $red
  text-align: center
  animation: character-damage-text 1.8s forwards

@-webkit-keyframes character-damage-text {
  0% {
    font-size: 30px
    color: transparent
  }

  94% {
    font-size: 30px
    color: transparent
  }
  95% {
    font-size: 30px
    color: $red
  }
  97% {
    font-size: 40px
    color: $red
  }
  100% {
    font-size: 35px
    color: $red
  }
}

.battle-text-box-text#gayathan
  color: $red

.battle-text-box-text:nth-child(1)
  -webkit-animation: typing 1.5s steps(30, end)
  -moz-animation: typing 1.5s step(30, end)

.battle-text-box-text:nth-child(2)
  -webkit-animation: typing2 3s steps(30, end)
  -moz-animation: typing2 3s step(30, end)

.battle-text-box-text-0
  font-size: 21px
  font-family: 'blzee'
  overflow:hidden
  white-space:nowrap
  color: #318831

.battle-text-box-text-0:nth-child(1)
  -webkit-animation: typing 1.5s steps(30, end)
  -moz-animation: typing 1.5s step(30, end)

.battle-text-box-text-0:nth-child(2)
  -webkit-animation: typing2 3s steps(60, end)
  -moz-animation: typing2 3s step(60, end)


.battle-text-box-text-1
  font-size: 21px
  font-family: 'blzee'
  overflow:hidden
  white-space:nowrap
  color: #318831

.battle-text-box-text-1:nth-child(1)
  -webkit-animation: typing-battle-0 1.5s steps(30, end)
  -moz-animation: typing-battle-0 1.5s step(30, end)

.battle-text-box-text-1:nth-child(2)
  -webkit-animation: typing-battle-1 3s steps(60, end)
  -moz-animation: typing-battle-1 3s step(60, end)

#healing
  color: #2aabd2

#not-enough
  color: #7c9096

#defense
  color: darkgoldenrod

.attack-title
  font-size: 19px
  font-family: 'VeniceClassic'

.attack-courage-cost
  font-size: 14px

.select-target-text
  padding: 23px 10px 5px 10px
  font-size: 61px
  font-family: VeniceClassic

.back-button
  font-family: 'VeniceClassic'
  font-weight: normal
  font-style: normal
  text-decoration: none !important
  font-size: 2em
  position: absolute
  padding-left: 10px
  top: 109px
  color: #796634

.text-enter-button
  font-family: 'VeniceClassic'
  font-weight: normal
  font-style: normal
  text-decoration: none !important
  font-size: 51px
  position: absolute
  padding-left: 10px
  width: 400px
  top: 75px
  left: 514px
  color: #296b29
  animation: battle-enter-button-show 2s steps(1) forwards, battle-enter-button-pulse 1.2s steps(2) infinite

@-webkit-keyframes battle-enter-button-show {
  0% { color: transparent}
  66% { color: transparent}
  100% { color: #296b29}
}

@-webkit-keyframes battle-enter-button-pulse {
  from {font-size: 51px;}
  to {font-size: 53px;}
}

#gayathan
  color: $red

.back-button.highlighted-backbutton
  color: $blue

.highlighted
  background-color: $green

.highlighted-character
  color: $blue

#to-battle
  color: $red;
  font-weight: bold;
  font-size: 48px;
  text-align: center
  font-family: 'blzee'
  position: relative
  animation: to-battle-enter-button-pulse 1.2s steps(2) infinite

@-webkit-keyframes to-battle-enter-button-pulse {
  from {font-size: 48px;}
  to {font-size: 50px;}
}

.sprite-walking
   width: 64px
   height: 64px
   animation: walk-east 1.0s steps(9) infinite

@keyframes walk-east
  from {background-position: 0}
  to {background-position: -576px}

.attacking-character
  z-index: 2
  width: 64px
  height: 64px

.attack-1
  position: relative
  left: 180px
  top: -34px
  animation: attack-east-1 1.0s steps(5) forwards

@keyframes attack-east-1
  0% {
    position: relative
    left: 180px
    top: -34px
  } 50% {
    position: relative
    left: 270px
    top: 79px
    background-position: 0
  } 100% {
    position: relative
    left: 270px
    top: 79px
    background-position: -320px
  }

.attack-2
  position: relative
  left: 72px
  top: -7px
  animation: attack-east-2 1.0s steps(5) forwards
@keyframes attack-east-2
  0% {
    position: relative
    left: 72px
    top: -7px
  } 50% {
    position: relative
    left: 260px
    top: -12px
    background-position: 0
  } 100% {
      left: 260px
      top: -12px
      background-position: -320px
  }

.attack-3
  position: relative
  left: 183px
  top: 7px
  animation: attack-east-3 1.0s steps(5) forwards
@keyframes attack-east-3
  0% {
    position: relative
    left: 183px
    top: 7px
  } 50% {
    position: relative
    left: 270px
    top: -98px
    background-position: 0
  } 100% {
    position: relative
    left: 270px
    top: -98px
    background-position: -320px
  }

.player-1
  position: relative
  left: 185px
  top: -31px
  z-index: 2

.player-2
  position: relative
  left: 82px
  top: -8px
  z-index: 2

.player-3
  position: relative
  left: 186px
  top: 7px
  z-index: 2



.select-1
  position: relative
  left: 180px
  top: -34px
  z-index: 2

.select-2
  position: relative
  left: 72px
  top: -7px
  z-index: 2

.select-3
  position: relative
  left: 183px
  top: 7px
  z-index: 2


.standing-1
  position: relative
  left: 180px
  top: -34px
  z-index: 2

.standing-2
  position: relative
  left: 72px
  top: -7px
  z-index: 2

.standing-3
  position: relative
  left: 183px
  top: 7px
  z-index: 2


.selected-character
  z-index: 2
  width: 64px
  height: 64px
  animation: wave-east 1.0s steps(7) infinite

@keyframes wave-east
  from {background-position: 0}
  to {background-position: -448px}


.standing-character
  z-index: 2
  width: 64px
  height: 64px
  animation: stand-east 1.0s steps(4) infinite

@keyframes stand-east
  from {background-position: 0}
  to {background-position: -256px}


.dying-character
  z-index: 2
  width: 64px
  height: 64px
  animation: die-east 1.0s steps(4) forwards

.dying-1
  position: relative
  left: 270px
  top: 79px
  z-index: 2

.dying-2
  position: relative
  left: 260px
  top: -12px
  z-index: 2

.dying-3
  position: relative
  left: 270px
  top: 79px
  z-index: 2


@keyframes die-east
  from {background-position: 0}
  to {background-position: -256px}



.reviving-character
  z-index: 2
  width: 64px
  height: 64px
  animation: revive-east 1.0s steps(4) forwards

.reviving-1
  position: relative
  left: 245px
  top: 79px
  z-index: 2


.reviving-2
  position: relative
  left: 229px
  top: -12px
  z-index: 2


.reviving-3
  position: relative
  left: 245px
  top: 79px
  z-index: 2

@keyframes revive-east
  from {background-position: 0}
  to {background-position: -256px}


.hurt-character
  z-index: 2
  width: 64px
  height: 64px

.hurt-1
  position: relative
  left: 180px
  top: -34px
  z-index: 2
  animation: hurt-east-1 2.0s steps(4) forwards

@keyframes hurt-east-1

  0% {
    left: 180px
    top: -34px
    background-position: 0
  }
  25% {
    background-position: -256px
    left: 270px
    top: 79px
  }
  60% {
    background-position: -256px
    left: 280px
    top: 79px
  }

  70% {
    background-position: -256px
    left: 260px
    top: 79px
  }

  80% {
    background-position: -256px
    left: 280px
    top: 79px
  }

  90% {
    background-position: -256px
    left: 260px
    top: 79px
  }

  100% {
    background-position: -256px
    left: 270px
    top: 79px
  }


.hurt-2
  z-index: 2
  position: relative
  left: 180px
  top: -34px
  animation: hurt-east-2 2.0s steps(4) forwards

@keyframes hurt-east-2
  0% {
    left: 180px
    top: -34px
    background-position: 0
  }
  25% {
    background-position: -256px
    left: 278px
    top: -12px
  }
  60% {
    background-position: -256px
    left: 288px
    top: -12px
  }

  70% {
    background-position: -256px
    left: 268px
    top: -12px
  }

  80% {
    background-position: -256px
    left: 288px
    top: -12px
  }

  90% {
    background-position: -256px
    left: 268px
    top: -12px
  }

  100% {
    background-position: -256px
    left: 278px
    top: -12px
  }


.hurt-3
  z-index: 2
  position: relative
  left: 180px
  top: -34px
  animation: hurt-east-3 2.0s steps(4) forwards

@keyframes hurt-east-3
  0% {
    position: relative
    left: 180px
    top: -34px
  }
  25% {
    background-position: 0
    left: 283px
    top: -94px
  }
  50% {
    background-position: -256px
    left: 293px
    top: -94px
  }

  70% {
    background-position: -256px
    left: 273px
    top: -94px
  }

  80% {
    background-position: -256px
    left: 293px
    top: -94px
  }

  90% {
    background-position: -256px
    left: 273px
    top: -94px
  }

  100% {
    background-position: -256px
    left: 283px
    top: -94px
  }





.dead-character
  z-index: 2
  width: 64px
  height: 64px

.dead-1 {
  position: relative
  left: 180px
  top: -34px
  z-index: 2
}

.dead-2 {
  position: relative
  left: 72px
  top: -7px
  z-index: 2
}

.dead-3 {
  position: relative
  left: 188px
  top: 21px
  z-index: 2
}

.hurt-boss
  z-index: 2
  width: 230px
  height: 230px
  position: absolute
  top: 3px

  animation: boss-hurt-east 2.0s forwards

@keyframes boss-hurt-east {
  0% {
    position: absolute
    top: 3px
    left 0px
  }
  25% {
    position: absolute
    left: -259px
    top: -37px
  }
  60% {
    top: -37px
    left: -271px
  }
  70% {
    left: -247px
    top: -37px
  }
  80% {left: -271px
       top: -37px
  }
  90% {
    left: -247px
    top: -37px
  }
  100% {
    left: -259px
    top: -37px
  }
}


.attacking-boss
  z-index: 2
  width: 234px
  height: 230px
  position: absolute
  left: -212px
  top: -37px
  animation: boss-attacks-east 1.0s steps(3) forwards

.attacking-boss
  position: absolute
  left: -212px
  top: -37px


@keyframes boss-attacks-east {
  0% {
    z-index: 2
    width: 234px
    height: 230px
    position: absolute
    top: 3px
    left:0px
  }
  50% {
    position: absolute
    left: -259px
    top: -37px
    background-position: 0
  }
  100% {
    position: absolute
    left: -259px
    top: -37px
    background-position: -702px
  }
}

.dead-boss
  z-index: 2
  width: 230px
  height: 230px

.dying-boss
  z-index: 2
  width: 230px
  height: 230px
  position: absolute
  left: -259px
  top: -37px
  animation: boss-dies-east 1.0s steps(3) forwards

@keyframes boss-dies-east {
  from {background-position: 0}
  to {background-position: -706px}
}

.standing-boss
  z-index: 2
  width: 234px
  height: 230px
  position: absolute
  top: 3px
  animation: boss-stand-east 1.0s steps(4) infinite

@keyframes boss-stand-east {
  from {background-position: 0}
  to {background-position: -936px}
}

.game-over-component
  width: 803px
  margin-left: auto
  margin-right: auto

.game-over-screen-text
  position: relative
  font-size: 36px
  top: 91px
  left: -5px
  text-align: center
  color: $red
  font-family: 'blzee'

.selection-screen-route
  color:white
  margin-top: 29px

.selection-screen-route.highlighted-game-over
  color:$green

.main-screen-route
  color:white

.main-screen-route.highlighted-game-over
  color:$green


.btn-danger.selection-screen-route
  position: absolute
  left: -212px

.btn-danger.main-screen-route
  position:absolute
  left: 79px

.victory-component
  width: 1189px
  height: 864px
  margin-left: auto
  margin-right: auto
  position: relative
  left: -19px
  overflow: hidden

.victory-partchment
  position: relative
  top: 525px
  animation: scroll-up 40.0s steps(4866) forwards

@-webkit-keyframes scroll-up {
  from { top: 525px;}
  to {top: -4341px;}
}



.victory-background
  z-index:-2
  height: 2671px;
  width: 1208px

.victory-text
  z-index: 1
  color: #3c763d
  font-size: 30px
  font-family: 'blzee'
  position: relative
  top: -2410px
  left: 288px
  width: 639px
  margin-bottom: 199px
  text-align: center

.victory-roman
  z-index: 2
  background-image: url('../images/roman_attacking.png')
  background-position: 0
  width: 64px
  height: 64px
  position: absolute
  left: 559px
  top: 2060px
  animation: roman-victory 1.0s steps(6) infinite

@-webkit-keyframes roman-victory {
  from { background-position: 0;}
  to { background-position: -384px;}
}

.victory-bryan
  z-index: 2
  background-image: url('../images/bryan_attacking.png')
  background-position: 0
  width: 64px
  height: 64px
  position: absolute
  left: 559px
  top: 382px
  animation: bryan-victory 1.0s steps(6) infinite

@-webkit-keyframes bryan-victory {
  from { background-position: 0;}
  to { background-position: -384px;}
}

.victory-oleg
  z-index: 2
  background-image: url('../images/oleg_attacking.png')
  background-position: 0
  width: 64px
  height: 64px
  position: absolute
  left: 550px
  top: 992px
  animation: oleg-victory 1.0s steps(6) infinite

@-webkit-keyframes oleg-victory {
  from { background-position: 0;}
  to { background-position: -384px;}
}


.victory-murat
  z-index: 2
  background-image: url('../images/murat_attacking.png')
  background-position: 0
  width: 64px
  height: 64px
  position: absolute
  left: 566px
  top: 1582px
  animation: murat-victory 1.0s steps(6) infinite

@-webkit-keyframes murat-victory {
  from { background-position: 0;}
  to { background-position: -384px;}
}

.victory-ph
  width: 64px
  height: 64px
  position: absolute
  left: 566px
  top: 1317px
  background-image: url('../images/ph_walking.png')
  background-position: 0
  animation: ph-walk-east 1.0s steps(9) infinite

@keyframes ph-walk-east
  from {background-position: 0}
  to {background-position: -576px}

.victory-pri
  width: 64px
  height: 64px
  position:absolute
  left: 566px
  top: 1816px
  background-image: url('../images/pri_walking.png')
  background-position: 0
  animation: pri-walking 1.0s steps(9) infinite

@keyframes pri-walking
  from {background-position: 0}
  to {background-position: -576px}

.victory-andy
  width: 64px
  height: 64px
  position:absolute
  left: 553px
  top: 700px
  background-image: url('../images/andy_walking.png')
  background-position: 0
  animation: andy-walking 1.0s steps(9) infinite

@keyframes andy-walking
  from {background-position: 0}
  to {background-position: -576px}




@-webkit-keyframes typing {
  from { width: 0;}
  to {width: 100%;}
}
@-webkit-keyframes typing2 {
  0% { width: 0; }
  50% { width: 0;}
  100% { width: 100%;}
}

@-webkit-keyframes typing-battle-0 {
  from { width: 0;}
  to {width: 100%;}
}

@-webkit-keyframes typing-battle-1 {
  0% { width: 0;  }
  50% { width: 0; }
  100% { width: 100%; }
}


